
body{
   padding: 0;
   margin: 0;  
}

:root{
    --red : #dc0000;
    --gray: #959595;
    --black: #333;
    --white: #fff;
}

#logo{
    height: 60px;
    width: 250px;
}

.nav_right h3 {
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.nav_right .icon_tiktok{
   color: var(--gray);
   padding: 12px 0px;
   border: 1px solid #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   margin: 0 4px;
}


.nav_feetback {
  padding: 10px 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav_feetback:hover {
  background-color: #f8e9e8;
  transform: scale(1.02); 
  border-radius: 6px;
}

@media (max-width:768px) {
      #logo {
         width: 30%;
         padding-top: 16px;
      }

      .text {
        font-size: 14px !important;
      }

        .line {
            margin: 0px;
        }

       .nav_feetback {
           padding: 4px 4px;
           transition: background-color 0.3s ease, transform 0.2s ease;
       }
}

/* -------------------Titile--------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}

.line {
    flex: 1 1 auto;
    height: 1px;
    background-color: var(--red);
    margin: 10px;
    min-width: 40px;
}

.text {
    color: #d32f2f;
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    white-space: normal; /* Cho phép xuống dòng nếu cần */
    margin: 5px 0;
}

.card{
    border: none;
}

.card_img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_img .card-img-top {
    width: 100%; 
    height: auto; 
}

/* -----------------section_blog------------ */
.section_blog .title_blog{
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 16px;
}

.card_blog{
    position: relative;
    display: flex;
   justify-content: center;
}

.card_blog .blog_body{
   position: absolute;
   bottom: -35px;
   left: 0;
   right: 0;
   background-color: var(--white);
   width: 70%;
   border-radius: 6px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 8px;
   z-index: 111;
}

.card_blog .blog_body h2 {
    font-size: 14px;
}

/* ----------------Des--------------------- */
.left_img {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: left;
  color: #fff;
  padding: 40px 20px;
  background-color: var(--black);
}

.text_wrap {
  position: relative;
  display: block;
  width: 100%;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
  max-width: 100%;
  /* padding-left: 40px; */
}

.quote {
  position: absolute;
  right: 90px; 
  top: 0;
  font-size: 5rem;
  color: #f0dede;
  font-family: serif;
}

.underline {
  width: 60px;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 41px;

}

@media (max-width: 575.98px) {
  .text_wrap {
    display: block;
    width: 100%;
    max-width: unset;
  }

  .text {
    max-width: 100%;
  }

  .quote {
    right: 20px; 
    top: -12px;
    font-size: 50px;
  }

  .right_img{
     padding: 0;
     margin: 0;
  }


  .text-heading {
     padding-left: 0 !important;
     font-size: 12px !important;
  }

  .underline{
     margin-left: 0 !important;
  }
 
  .nav_right h3 {
    color: var(--red);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .text {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.6;
    max-width: 100%;
    padding-left: 0px;
   }

   
   .nav_right .icon_tiktok {
    color: var(--gray);
    padding: 12px 0px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 3px;
  }

      .nav_right h3{
          font-size: 13px;
      }


      .container.container-md.nav_header {
          padding: 0 0 !important;
      }
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--red);
}

.swiper-button-prev {
    display: none;
}
.swiper-button-next {
    display: none;
}


.text-heading{
  padding-left:40px;
}